<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../weblib/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="../weblib/jquery-3.2.0.js"></script>
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <script src="https://img.hcharts.cn/highstock/highstock.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <link rel="stylesheet" href="../weblib/bootstrapValidator.css">
    <script src="../weblib/bootstrapValidator.js"></script>
</head>
<body onload="search();">
<div class="container">
    <!--登录model-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-harder">
            <a class="navbar-brand" href="#">查询股票信息</a>
        </div>
        <div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" id="stockCode" class="form-control" placeholder="Search">
                </div>
                <button type="submit" onclick="searchStockCode();" class="btn btn-default">提交</button>
                <button type="submit" onclick="searchStockCode();" class="btn btn-default">大盘</button>
            </form>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-default" onclick="showRegin();" data-toggle="modal">注册</button>
            </form>
        </div>
    </div>
</nav>
    <div class="modal fade" id="myReginModal" tabindex="-1" role="dialog" aria-labelledby="myReginModal">


        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">注册</h4>
                </div>
                <div class="modal-body">
                <form class="form-horizontal" role="form">


                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">邮箱地址：</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="email" name="email"
                                   placeholder="请输入邮箱地址">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">登录密码：</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="请输入登录密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rePassword" class="col-sm-4 control-label">重复密码：</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="rePassword" name="rePassword"
                                   placeholder="请输入重复密码">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="submitRegisterInfo();">注册</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
<!--K线图-->
<div id="container" style="min-width:400px;height:400px"></div>
<script type="text/javascript" src="../weblib/sea.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript" src="../weblib/bootstrap/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="index.js"></script>-->



</div>
</body>
</html>