<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../weblib/bootstrap/css/bootstrap.min.css"/>
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <link rel="stylesheet" href="css/bootstrapValidator.css">

</head>
<body onload="search();queryUserInfo();">
<div class="container">
    <!--登录model-->
    <a href="ajaxSubmit.html"></a>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-harder">
            <a class="navbar-brand" href="#">查询股票信息</a>
        </div>
        <div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" id="stockCode" class="form-control" placeholder="Search">
                </div>
                <button type="submit" onclick="searchStockCode();" class="btn btn-default">提交</button>
                <button type="submit" onclick="searchStockCode();" class="btn btn-default">大盘</button>
            </form>
            <form class="navbar-form navbar-right" id="">
                <button type="button" id="showReginId" class="btn btn-default" onclick="showRegin();" data-toggle="modal">注册</button>
                <button type="button" id="showLoginId" class="btn btn-default" onclick="showLogin();" data-toggle="modal">登录</button>
                <a class="help-block" id="userInfo" href="#" style="display: none;"></a>
            </form>

        </div>
    </div>
</nav>

    <div class="modal fade" id="myReginModal2" tabindex="-1" role="dialog" aria-labelledby="myReginModal2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">注册</h4>
                </div>
                <div class="modal-body">
                    <!--注册Form-->
                    <form class="form-horizontal" role="form" id="LoginForm">
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">邮箱地址：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="LoginEmail" name="email"
                                       placeholder="请输入邮箱地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Password</label>
                            <div class="col-sm-7">
                                <input type="password" id="passwordLogin" class="form-control" name="password"
                                       required data-bv-notempty-message="The password is required and cannot be empty"
                                       data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="两次密码输入不一致"
                                       data-bv-different="true" data-bv-different-field="email" data-bv-different-message="不能邮箱名相同"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <small class="help-block" id="errorMsgLogin" style="color: red;display:none"></small>
                            <button type="button" class="btn btn-default" onclick="submitLoginInfo();">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myReginModal" tabindex="-1" role="dialog" aria-labelledby="myReginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">注册</h4>
                </div>
                <div class="modal-body">
                <!--注册Form-->
                <form class="form-horizontal" role="form" id="regForm">
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">邮箱地址：</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="请输入邮箱地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Password</label>
                        <div class="col-sm-7">
                            <input type="password" id="password" class="form-control" name="password"
                                   required data-bv-notempty-message="The password is required and cannot be empty"
                                   data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="两次密码输入不一致"
                                   data-bv-different="true" data-bv-different-field="email" data-bv-different-message="不能邮箱名相同"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Retype password</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="confirmPassword"
                                   required data-bv-notempty-message="The confirm password is required and cannot be empty"
                                   data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="两次密码输入不一致"
                                   data-bv-different="true" data-bv-different-field="email" data-bv-different-message="不能邮箱名相同"/>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <small class="help-block" id="errorMsg" style="color: red;display:none"></small>
                        <button type="button" class="btn btn-default" onclick="submitRegisterInfo();">注册</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
<!--K线图-->
<div id="container" style="min-width:400px;height:400px"></div>
    <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="../weblib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://img.hcharts.cn/highstock/highstock.js"></script>
    <script src="./js/bootstrapValidator.js"></script>
<script type="text/javascript" src="index.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#form').bootstrapValidator();
        });
    </script>
<!--<script type="text/javascript" src="index.js"></script>-->



</div>
</body>
</html>